<nav class="square navbar navbar-default" role="navigation">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "Sea Level Rise", root_path, class: "navbar navbar-brand" %>
    </div>
    <div>    
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Document Flood", {:action => 'new'} %></li>
        <li><%= link_to "Will It Flood", {:controller => 'pages', :action => 'willitflood'} %></li>
      </ul>
    </div>
</div>
  <!-- Collect the nav links, forms, and other content for toggling -->
</nav>
