<%= content_for :title, 'Sea Level Rise Home' %>

<div>
    <h1>Sea Level Rise</h1>
    <p>Welcome to the King Tide Page</p>
</div>
    
<div class= "btn-div">
    <div><%= link_to "Document Flood", {:action => 'new'}, class: "btn btn-primary home-buttons" %></div>
    <div><%= link_to "Will It Flood", {:controller => 'pages', :action => 'willitflood'}, class: "btn btn-primary home-buttons" %></div>
</div>

