<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Instructions</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <h2>Document King Tides</h2>
        <b>How to Document a King Tide</b>
        <ol>
            <li>Consult the 
                <a href="http://hightideapp.com" target="links">King Tide Monitoring App</a> for the date and time of the high tides in your neighborhood. To qualify as a King Tide, the calendar must show the date in 
                <span style="color:green; font-weight: bold;">GREEN</span> or 
                <span style="color:blue; font-weight:bold;">BLUE</span>. To view the time of the high tides, roll your mouse over the date to see the times.
            </li>
            <li>Find a water feature in your neighborhood, such as a drain, and arrive an hour before the King Tide.</li>
            <li>Use the 
                <a href="http://www.floodform.com" target="links">Document a Flood</a> form to document flooding, if any, an hour before the high tide.
            </li>
            <li>Return an hour later and document the flooding, if any, at the peak of the high tide.</li>
            <li>Return an hour later and document the flooding, if any, an hour after the high tide.</li>
        </ol>
        <b>How to use the form:</b>
        <ol>
            <li>Once you have used the Will It Flood app to determine where and when to document King Tide flooding, look for a water source like a drain, sewer, seawall, lake or other body of water. If there is no flooding, take a photo of a dry area near a water source. </li>
            <li>On your cell phone, navigate to 
                <a href="http://www.floodform.com" target="links">http://www.floodform.com</a>. The form may ask if it may use your GPS to determine your location. Please say YES as it will automatically pinpoint your location on the map. If you don’t see the map, or if it does not display the location of your flood report, please enter your location in the 
                <b>Describe Flood</b> field.
            </li>
            <li>Enter your 
                <b>name</b> and 
                <b>e-mail</b> address. We will not share this information, but it is very helpful if we have questions about your report.
            </li>
            <li>Select the 
                <b>date</b> and 
                <b>time</b> that you are documenting the flood.
            </li>
            <li>
                <b>Describe flood.</b> Provide a description (location, appearance, etc.). The more detail, the better! If you do not see the  map below the Describe the Flood text box, please write your location in the box.
            </li>
            <li>If you see the map, make sure it references the location where you are monitoring flooding. If not, please enter it in the 
                <b>Describe Flood</b> field.
            </li>
            <li>If possible use a yardstick to measure the depth of the water. If you do not have a yardstick, estimate the depth of the water. Enter the 
                <b>water depth</b>, in numbers only. Use decimals, not fractions. For example, use 5.5 instead of 5 1/2.
            </li>
            <li>Select the 
                <b>units</b> – inches or centimeters.
            </li>
            <li>Take a photo of the ruler in the water to validate the depth of the water. If you do not have a ruler, take a photo of the water at the point you estimate the depth. Upload the photo by pressing the BROWSE FILES button.</li>
            <li>If you have a refractometer, drop some of the floodwater on the plate and record the salinity of the water. Enter the ppt (parts per thousand - the number on the right) in the 
                <b>salinity</b>field.
            </li>
            <li>If you have a refractometer, take a photo of the refractometer reading by holding your cell phone up to the eyepiece.Upload the photo by pressing the BROWSE FILES. button. If you do not have a refractometer, just skip this step.</li>
            <li>Take up to 3 
                <b>closeup photos</b> of the flood. Show us the water source you are using. Upload the photos by pressing the BROWSE FILES. button.
            </li>
            <li>Take up to 3 
                <b>longshot photos</b> of the flood. Show us the context of the water – is it in the middle of a street, how far does it extend, what is next to it? Upload the photos by pressing the BROWSE FILES. button.
            </li>
            <li>If you think it is important, take a short video of the flood. You do not have to take a video. Upload the video by pressing the BROWSE FILES. button.</li>
            <li>When you are done, press the SUBMIT button.</li>
        </ol>
        <b>TROUBLESHOOTING</b>
        <p>If the form does not work, please contact susanjacobson at gmail dot com.</p>
        <footer>
            <div class = "row">
                <div class="col-xs-6 col-md-6">
                    <img src="http://eyesontherise.org/app/images/smeyes.png" class="img-responsive" longdesc="http://eyesontherise.org" />
                </div>
                <div class="col-xs-6 col-md-6">
                    <img src="http://eyesontherise.org/app/images/smslsc.png" class="img-responsive" />
                </div>
            </div>
        </footer>
        <!-- jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>