// Place all the styles related to the Landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mapwrap {
  position: relative;
}

#gmap {
  height: 100%;
}

input.salinity-input {
  width: 220px !important;
}

.flood-labels {
  display: block;
}

.navbar{
  margin-bottom: 0px !important;
}
.add-image {
  float: right;
  margin-top: 20px;
}

.btn-primary.home-buttons {
  padding: 10px;
  margin: 0 15px 15px 0;
  font-size: 18px;
  width: 250px;
  display: inline-block;
}

h1, p {
  text-align: center;
}
.btn-div{
  padding: 7em 0em 7em 0em;
  text-align: center;
}